Repository DFE-Digital/register-early-career-teachers-public, pull requests merged in 2025-05, with the labels that each got.

#558 Add more error types to TRS API client
  app/jobs/teachers/schedule_trs_sync_job.rb
  app/models/event.rb
  app/models/teacher.rb
  app/services/events/record.rb
  app/services/teachers/manage.rb
  app/services/teachers/refresh_trs_attributes.rb
  config/analytics.yml
  db/migrate/20250502131734_add_trs_deactivation_column_to_teachers.rb
  db/schema.rb
  documentation/domain-model.png
  lib/trs/api_client.rb
  lib/trs/errors.rb
  spec/factories/teacher_factory.rb
  spec/jobs/teachers/schedule_trs_sync_job_spec.rb
  spec/lib/trs/api_client_spec.rb
  spec/models/teacher_spec.rb
  spec/services/events/record_spec.rb
  spec/services/teachers/manage_spec.rb
  spec/services/teachers/refresh_trs_attributes_spec.rb
  spec/support/api/trs/fake_api_client.rb
  spec/support/shared_contexts/fake_trs_api_client.rb
Labels: Housekeeping

#579 Add partnerships documentation to ECF1 service rules
  documentation/service-rules/ecf1/lead-provider-api.md
  documentation/service-rules/ecf1/partnerships.md
Labels: Documentation

#606 Hide Rails migration tables from schema diagram
  .erdconfig
  documentation/domain-model.png
Labels: Housekeeping

#592 [CPDLP-4250] Service manual for transfers
  documentation/service-rules/ecf1/lead-provider-api.md
  documentation/service-rules/ecf1/transfers.md
Labels: Documentation

#590 API docs skeleton
  .env.example
  app/assets/stylesheets/api_guidance.scss
  app/assets/stylesheets/application.scss
  app/components/navigation/primary_navigation_component.rb
  app/controllers/api/guidance_controller.rb
  app/helpers/application_helper.rb
  app/helpers/environment_helper.rb
  app/services/api/release_note.rb
  app/views/api/guidance/page_1.md
  app/views/api/guidance/page_2.md
  app/views/api/guidance/page_3.md
  app/views/api/guidance/release_notes.html.erb
  app/views/api/guidance/release_notes.yml
  app/views/api/guidance/show.html.erb
  app/views/layouts/api_guidance.html.erb
  config/application.rb
  config/environments/test.rb
  config/routes.rb
  config/terraform/application/config/production.yml
  config/terraform/application/config/review.yml
  config/terraform/application/config/sandbox.yml
  config/terraform/application/config/staging.yml
  spec/components/navigation/primary_navigation_component_spec.rb
  spec/features/api/guidance/viewing_guidance_pages_spec.rb
  spec/features/api/guidance/viewing_the_release_notes_spec.rb
  spec/helpers/application_helper_spec.rb
  spec/helpers/environment_helper_spec.rb
  spec/requests/api/guidance_spec.rb
  spec/routing/api_spec.rb
  spec/services/api/release_note_spec.rb
  spec/views/api/guidance/release_notes.html.erb_spec.rb
  spec/views/api/guidance/show.html.erb_spec.rb
Labels: Documentation

#630 Bulk upload outcomes: post-party snag list
  app/forms/appropriate_bodies/process_batch_form.rb
  app/presenters/pending_induction_submission_batch_presenter.rb
  public/bulk-actions-template.csv
  spec/features/appropriate_bodies/process_batch_action_spec.rb
  spec/fixtures/invalid_duplicate_trns_action.csv
  spec/fixtures/invalid_duplicate_trns_claim.csv
  spec/fixtures/invalid_missing_columns.csv
  spec/fixtures/seeds_action.csv
  spec/fixtures/seeds_claim.csv
  spec/fixtures/valid_complete_action.csv
  spec/fixtures/valid_complete_claim.csv
  spec/forms/appropriate_bodies/process_batch_form_spec.rb
  spec/presenters/pending_induction_submission_batch_presenter_spec.rb
  spec/requests/appropriate_bodies/process_batch/actions/show_spec.rb
Labels: Bug
