Repository DFE-Digital/register-early-career-teachers-public, pull requests merged in 2025-04, with the labels that each got.

#409 Fix the appropriate bodies show page
  app/controllers/admin/appropriate_bodies_controller.rb
  spec/requests/admin/appropriate_bodies/show_spec.rb
Labels: Bug

#402 Adding maintenance page and workflow
  .github/workflows/maintenance.yml
  Makefile
  maintenance_page/Dockerfile
  maintenance_page/html/assets/fonts/bold-affa96571d-v2-b092ddd6.woff
  maintenance_page/html/assets/fonts/bold-b542beb274-v2-616e5f21.woff2
  maintenance_page/html/assets/fonts/light-94a07e06a1-v2-bb962e0c.woff2
  maintenance_page/html/assets/fonts/light-f591b13f7d-v2-f03d82c2.woff
  maintenance_page/html/assets/images/favicon-7ddbfd51.ico
  maintenance_page/html/assets/images/favicon-7ddbfd51.ico.br
  maintenance_page/html/assets/images/favicon-7ddbfd51.ico.gz
  maintenance_page/html/assets/images/favicon-ec189703.svg
  maintenance_page/html/assets/images/favicon-ec189703.svg.br
  maintenance_page/html/assets/images/favicon-ec189703.svg.gz
  maintenance_page/html/assets/images/govuk-crest-2x.png
  maintenance_page/html/assets/images/govuk-crest.png
  maintenance_page/html/assets/images/govuk-icon-180-e0835e78.png
  maintenance_page/html/assets/images/govuk-icon-192-7b8e00f8.png
  maintenance_page/html/assets/images/govuk-icon-512-587f7e53.png
  maintenance_page/html/assets/images/govuk-icon-mask-c3a9868b.svg
  maintenance_page/html/assets/images/govuk-icon-mask-c3a9868b.svg.br
  maintenance_page/html/assets/images/govuk-icon-mask-c3a9868b.svg.gz
  maintenance_page/html/assets/images/govuk-opengraph-image-bd4c811b.png
  maintenance_page/html/assets/images/icon-close-cross-black-692c7df5.svg
  maintenance_page/html/assets/images/icon-close-cross-black-692c7df5.svg.br
  maintenance_page/html/assets/images/icon-tag-remove-cross-5a9b07c6.svg
  maintenance_page/html/assets/images/icon-tag-remove-cross-5a9b07c6.svg.br
  maintenance_page/html/assets/images/icon-tag-remove-cross-5a9b07c6.svg.gz
  maintenance_page/html/assets/images/icon-tag-remove-cross-white-d540bf9f.svg
  maintenance_page/html/assets/images/icon-tag-remove-cross-white-d540bf9f.svg.br
  maintenance_page/html/assets/images/icon-tag-remove-cross-white-d540bf9f.svg.gz
  maintenance_page/html/assets/images/icon-toggle-plus-minus-257426a1.svg
  maintenance_page/html/index.html
  maintenance_page/html/javascript/govuk-frontend-5.3.1.min.js
  maintenance_page/html/stylesheets/govuk-frontend-5.3.1.min.css
  maintenance_page/manifests/maintenance/deployment_maintenance.yml.tmpl
  maintenance_page/manifests/maintenance/service_maintenance.yml
  maintenance_page/manifests/migration/ingress_internal_to_main.yml
  maintenance_page/manifests/migration/ingress_internal_to_maintenance.yml
  maintenance_page/manifests/migration/ingress_maintenance.yml
  maintenance_page/manifests/migration/ingress_temp_to_main.yml
  maintenance_page/manifests/production/ingress_internal_to_main.yml
  maintenance_page/manifests/production/ingress_internal_to_maintenance.yml
  maintenance_page/manifests/production/ingress_maintenance.yml
  maintenance_page/manifests/production/ingress_temp_to_main.yml
  maintenance_page/manifests/sandbox/ingress_internal_to_main.yml
  maintenance_page/manifests/sandbox/ingress_internal_to_maintenance.yml
  maintenance_page/manifests/sandbox/ingress_maintenance.yml
  maintenance_page/manifests/sandbox/ingress_temp_to_main.yml
  maintenance_page/manifests/staging/ingress_internal_to_main.yml
  maintenance_page/manifests/staging/ingress_internal_to_maintenance.yml
  maintenance_page/manifests/staging/ingress_maintenance.yml
  maintenance_page/manifests/staging/ingress_temp_to_main.yml
  maintenance_page/nginx.conf
  maintenance_page/scripts/failback.sh
  maintenance_page/scripts/failover.sh
Labels: Devops

#444 Increase snapshot db to B2s from B1ms sku
  config/terraform/application/config/production.tfvars.json
Labels: Devops

#445 Add DB PTR workflow
  .github/workflows/database-restore-ptr.yml
Labels: Devops

#383 Update the SchoolPeriods builder with the required ECTAtSchoolPeriod attributes
  app/migration/builders/ect/school_periods.rb
  app/migration/mappers/training_programme_type_mapper.rb
  app/migration/school_period_extractor.rb
  app/models/migration/school_period.rb
  spec/factories/migration/school_period_factory.rb
  spec/migration/builders/ect/school_periods_spec.rb
  spec/migration/mappers/training_programme_type_mapper_spec.rb
Labels: Do not merge

#456 Fix TRS sync ordering bug
  app/jobs/teachers/schedule_trs_sync_job.rb
  app/models/teacher.rb
  spec/jobs/teachers/schedule_trs_sync_job_spec.rb
  spec/models/teacher_spec.rb
Labels: Bug

#459 Allow 18 character TRS induction statuses
  app/models/teacher.rb
  db/migrate/20250411105110_change_limit_of_trs_induction_status_field.rb
  db/schema.rb
  spec/models/teacher_spec.rb
Labels: Bug

#462 Fix status change events
  app/services/teachers/manage.rb
  db/scripts/remove_incorrectly_created_trs_sync_events.rb
  spec/services/teachers/manage_spec.rb
Labels: Bug

#481 Adding sandbox env to the DB workflows
  .github/workflows/backup-db.yml
  .github/workflows/restore-snapshot-db-from-azure-storage.yml
  config/terraform/application/config/sandbox.tfvars.json
Labels: Devops
