Repository DFE-Digital/register-early-career-teachers-public, pull requests merged in 2025-02, with the labels that each got.

#109 ECT claiming fixes
  app/controllers/appropriate_bodies/claim_an_ect/check_ect_controller.rb
  app/controllers/appropriate_bodies/claim_an_ect/find_ect_controller.rb
  app/helpers/induction_helper.rb
  app/services/teachers/induction.rb
  app/views/appropriate_bodies/claim_an_ect/check_ect/edit.html.erb
  app/views/schools/register_ect_wizard/review_ect_details.html.erb
  app/views/schools/register_mentor_wizard/review_mentor_details.html.erb
  spec/features/appropriate_bodies/claim_an_ect_spec.rb
  spec/helpers/induction_helper_spec.rb
  spec/services/teachers/induction_spec.rb
  spec/views/appropriate_bodies/claim_an_ect/check_ect/edit.html.erb_spec.rb
Labels: Bug

#116 Bugfix: Allow data from TRS API to be persisted
  app/controllers/appropriate_bodies/claim_an_ect/register_ect_controller.rb
  app/models/pending_induction_submission.rb
  db/migrate/20250131171406_remove_induction_status_limit.rb
  db/schema.rb
  spec/factories/pending_induction_submission_factory.rb
  spec/models/pending_induction_submission_spec.rb
  spec/requests/appropriate_bodies/claim_an_ect/register_ect_spec.rb
  spec/services/appropriate_bodies/claim_an_ect/register_ect_spec.rb
Labels: Bug

#145 Add onboarding docs for interacting with deployments
  .gitignore
  documentation/setup.md
Labels: Documentation

#117 Register a mentor, check you answers, and persist mentor email
  app/controllers/schools/register_mentor_wizard_controller.rb
  app/services/schools/register_mentor.rb
  app/views/schools/register_mentor_wizard/_email_address.html.erb
  app/views/schools/register_mentor_wizard/_review_mentor_details.html.erb
  app/views/schools/register_mentor_wizard/change_email_address.html.erb
  app/views/schools/register_mentor_wizard/change_mentor_details.html.erb
  app/views/schools/register_mentor_wizard/check_answers.html.erb
  app/views/schools/register_mentor_wizard/email_address.html.erb
  app/views/schools/register_mentor_wizard/find_mentor.html.erb
  app/views/schools/register_mentor_wizard/review_mentor_details.html.erb
  app/wizards/schools/register_mentor_wizard/change_email_address_step.rb
  app/wizards/schools/register_mentor_wizard/change_mentor_details_step.rb
  app/wizards/schools/register_mentor_wizard/mentor.rb
  app/wizards/schools/register_mentor_wizard/review_mentor_details_step.rb
  app/wizards/schools/register_mentor_wizard/wizard.rb
  config/routes.rb
  spec/features/schools/register_mentor/happy_path_spec.rb
  spec/services/schools/register_mentor_spec.rb
  spec/views/schools/register_mentor_wizard/change_email_address.html.erb_spec.rb
  spec/views/schools/register_mentor_wizard/change_mentor_details.html.erb_spec.rb
  spec/views/schools/register_mentor_wizard/check_answers.html.erb_spec.rb
  spec/views/schools/register_mentor_wizard/email_address.html.erb_spec.rb
  spec/views/schools/register_mentor_wizard/review_mentor_details.html.erb_spec.rb
  spec/views/schools/register_mentor_wizard/shared_examples/email_view.rb
  spec/views/schools/register_mentor_wizard/shared_examples/review_mentor_details_view.rb
  spec/wizards/schools/register_mentor_wizard/change_email_address_step_spec.rb
  spec/wizards/schools/register_mentor_wizard/change_mentor_details_step_spec.rb
  spec/wizards/schools/register_mentor_wizard/email_address_step_spec.rb
  spec/wizards/schools/register_mentor_wizard/mentor_spec.rb
  spec/wizards/schools/register_mentor_wizard/review_mentor_details_step_spec.rb
  spec/wizards/schools/register_mentor_wizard/shared_examples/email_step.rb
  spec/wizards/schools/register_mentor_wizard/shared_examples/review_mentor_details_step.rb
Labels: Enhancement

#162 Refactor ECT update services
  app/services/appropriate_bodies/claim_an_ect/register_ect.rb
  app/services/teachers/manage.rb
  spec/services/teachers/full_name_parser_spec.rb
  spec/services/teachers/induction_period_spec.rb
  spec/services/teachers/induction_spec.rb
  spec/services/teachers/induction_status_spec.rb
  spec/services/teachers/manage_spec.rb
  spec/services/teachers/name_spec.rb
  spec/services/teachers/terms_completed_spec.rb
Labels: Housekeeping

#187 ECT service tidy up
  app/controllers/schools/home_controller.rb
  app/helpers/ect_helper.rb
  app/services/schools/home.rb
  app/services/schools/teacher.rb
  app/views/schools/home/index.html.erb
  spec/services/schools/home_spec.rb
  spec/services/schools/teacher_spec.rb
Labels: Housekeeping

#264 Extend Interval to cope with predecessors and successors siblings of an interval
  app/models/concerns/interval.rb
  app/models/ect_at_school_period.rb
  app/models/induction_period.rb
  app/models/mentor_at_school_period.rb
  app/models/mentorship_period.rb
  app/models/training_period.rb
  app/services/admin/update_induction_period_service.rb
  spec/models/concerns/interval_spec.rb
  spec/models/ect_at_school_period_spec.rb
  spec/models/induction_period_spec.rb
  spec/models/mentor_at_school_period_spec.rb
  spec/models/mentorship_period_spec.rb
  spec/models/training_period_spec.rb
Labels: Housekeeping
