Repository DFE-Digital/register-early-career-teachers-public, pull requests merged in 2025-03, with the labels that each got.

#309 Make statuses dependant on induction period presence
  app/services/teachers/induction_status.rb
  spec/services/teachers/induction_status_spec.rb
Labels: Bug

#308 [2201] Github actions OIDC
  .github/actions/deploy-environment-to-aks/action.yml
  .github/actions/directly-backup-and-restore-snapshot-database/action.yml
  .github/actions/restore-snapshot-database-from-azure-storage/action.yml
  .github/workflows/backup-db.yml
  .github/workflows/delete_review_app.yml
  .github/workflows/deploy.yml
  .github/workflows/deploy_to_environment.yml
  .github/workflows/directly-copy-main-db-into-snapshot-db.yml
  .github/workflows/nightly-copy-production_db_into_snapshot_db_and_store_dump.yml
  .github/workflows/reseed-staging-db.yml
  .github/workflows/restore-app-main-db.yml
  .github/workflows/restore-snapshot-db-from-azure-storage.yml
  Makefile
  config/terraform/application/terraform.tf
Labels: devops

#334 Remove Rails.application.routes.url_helpers
  lib/appropriate_bodies/errors.rb
Labels: Housekeeping

#326 Fix the induction event happened_at values
  app/services/appropriate_bodies/release_ect.rb
  app/services/events/record.rb
  db/scripts/set_induction_period_event_happened_at_times_so_they_are_teacher_orientated.rb
  spec/services/appropriate_bodies/release_ect_spec.rb
  spec/services/events/record_spec.rb
  spec/services/induction_periods/create_induction_period_spec.rb
Labels: Bug

#330 Rubocop update 👮🏼‍♂️
  .rubocop.yml
  .rubocop_todo.yml
  Gemfile
  Gemfile.lock
  app/controllers/api/base_controller.rb
  bin/rubocop-todo
  db/migrate/20240904125324_add_establishment_and_la_fields_to_abs.rb
  db/migrate/20240905133533_add_trn_to_teachers.rb
  db/migrate/20240906122532_add_induction_programme_to_induction_periods.rb
  db/migrate/20240920110230_modify_gias_schools.rb
  db/migrate/20240924152526_remove_unneeded_roles.rb
  db/migrate/20240926131856_refactor_fields_on_gias_school.rb
  db/migrate/20240926161243_add_tsvector_column_to_teachers_for_searching.rb
  db/migrate/20241025151425_remove_establishment_id_and_make_parts_nullable.rb
  db/migrate/20241025151817_add_dfe_sign_in_organisation_id_to_abs.rb
  db/migrate/20241028105436_unaccent_teachers_search.rb
  spec/support/rspec_playwright.rb
Labels: Housekeeping

#355 Appease rubocop on main branch
  spec/models/induction_period_spec.rb
Labels: Housekeeping

#360 Remove unnecessary requirement of 'rails_helper'
  spec/components/appropriate_bodies/claim_ect_actions_component_spec.rb
  spec/components/navigation/primary_navigation_component_spec.rb
  spec/components/navigation/sub_navigation_component_spec.rb
  spec/components/schools/teacher_profile_summary_list_component_spec.rb
  spec/components/teachers/details/current_induction_period_component_spec.rb
  spec/components/teachers/details/induction_summary_component_spec.rb
  spec/components/teachers/details/itt_details_component_spec.rb
  spec/components/teachers/details/past_induction_periods_component_spec.rb
  spec/components/teachers/details/personal_details_component_spec.rb
  spec/components/teachers/details_component_spec.rb
  spec/components/test_guidance_component_spec.rb
  spec/components/timeline_component_spec.rb
  spec/initializers/markdown_renderer_spec.rb
  spec/requests/admin/induction_periods_spec.rb
  spec/requests/admin/root_spec.rb
  spec/requests/admin/teachers/index_spec.rb
  spec/requests/admin/teachers/show_spec.rb
  spec/requests/api/v3/declarations_spec.rb
  spec/requests/api/v3/delivery_partners_spec.rb
  spec/requests/api/v3/participant_transfers_spec.rb
  spec/requests/api/v3/participants_spec.rb
  spec/requests/api/v3/partnerships_spec.rb
  spec/requests/api/v3/schools_spec.rb
  spec/requests/api/v3/statements_spec.rb
  spec/requests/api/v3/unfunded_mentors_spec.rb
  spec/requests/dfe_analytics_spec.rb
  spec/services/admin/create_induction_period_spec.rb
  spec/services/admin/update_induction_period_spec.rb
  spec/services/appropriate_bodies/record_outcome_spec.rb
  spec/services/teachers/extensions/create_extension_spec.rb
  spec/services/teachers/extensions/update_extension_spec.rb
Labels: Housekeeping

#361 Some RSpec linting fixes
  .rubocop_todo.yml
  spec/helpers/environment_helper_spec.rb
  spec/helpers/teacher_helper_spec.rb
  spec/lib/dfe_sign_in/api_client_spec.rb
  spec/models/concerns/interval_spec.rb
  spec/models/event_spec.rb
  spec/services/schools/check_early_roll_out_mentor_spec.rb
  spec/services/schools/register_ect_spec.rb
  spec/services/schools/register_mentor_spec.rb
  spec/services/sessions/users/appropriate_body_persona_spec.rb
  spec/services/sessions/users/appropriate_body_user_spec.rb
  spec/services/sessions/users/dfe_persona_spec.rb
  spec/services/sessions/users/dfe_user_spec.rb
  spec/services/sessions/users/school_persona_spec.rb
  spec/services/sessions/users/school_user_spec.rb
  spec/services/teachers/full_name_parser_spec.rb
  spec/services/teachers/induction_period_spec.rb
  spec/services/teachers/induction_spec.rb
  spec/services/teachers/terms_completed_spec.rb
  spec/validators/programme_type_validator_spec.rb
  spec/validators/working_pattern_validator_spec.rb
  spec/views/appropriate_bodies/claim_an_ect/check_ect/edit.html.erb_spec.rb
  spec/wizards/schools/register_mentor_wizard/mentor_spec.rb
Labels: Housekeeping

#365 Fix performance cops
  .rubocop_todo.yml
  app/forms/sessions/otp_sign_in_form.rb
  app/migration/migrators/base.rb
  app/validators/notify_email_validator.rb
  app/validators/programme_type_validator.rb
  app/validators/terms_range_validator.rb
  app/validators/working_pattern_validator.rb
  lib/schools/validation/national_insurance_number.rb
Labels: Housekeeping

#372 Fix Capybara Rubocop Violations
  .rubocop.yml
  .rubocop_todo.yml
  spec/components/appropriate_bodies/claim_ect_actions_component_spec.rb
  spec/requests/appropriate_bodies/claim_an_ect/check_ect_spec.rb
  spec/requests/appropriate_bodies/claim_an_ect/register_ect_spec.rb
  spec/services/appropriate_bodies/claim_an_ect/register_ect_spec.rb
  spec/services/teachers/extensions/create_extension_spec.rb
  spec/services/teachers/extensions/update_extension_spec.rb
  spec/views/schools/register_mentor_wizard/check_answers.html.erb_spec.rb
  spec/wizards/schools/register_ect_wizard/find_ect_step_spec.rb
  spec/wizards/schools/register_mentor_wizard/find_mentor_step_spec.rb
  spec/wizards/schools/register_mentor_wizard/national_insurance_number_step_spec.rb
Labels: Housekeeping

#379 Wrap add induction link in role-based conditional
  app/components/teachers/details/induction_summary_component.html.erb
  app/components/teachers/details/induction_summary_component.rb
  spec/components/teachers/details/induction_summary_component_spec.rb
Labels: Bug

#393 Override Blazer's CSP settings
  config/blazer.yml
Labels: Bug

#369 Update api-versioning to fix typos and tweak some sentences.md
  documentation/site/content/product/api-versioning.md
Labels: Documentation
